.login{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;


    .RegisterForm{
        width: 30%;
        margin-top: 10rem;
        border: 1px solid #495057;
        padding: 3rem 3rem;
    }

    .loginTitle{
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 600;
        color: #495057;
    }
    
    .loginForm{
        display: flex;
        flex-direction: column;
        color: #495057;

    
        label{
            font-size: 1.8rem;
            font-weight: 400;
        }

        .loginInput{
            margin-top: 0.8rem;
            margin-bottom: 1.4rem;
            padding: 1rem;
            background-color: white;
            border-color: #868e96;
            outline: none;
            font-family: 'Poppins',serif;
        }
    }

    .loginTitle{
        display: inline-block;
        margin-bottom: 1.2rem;
        font-size: 2.6rem;
    }
   
    .RegisterButton{
        cursor: pointer;
        padding: 1.2rem;
        width: 40%;
        background-color: #495057;
        border: none;
        border-radius: 0.8rem;
        font-size: 1.4rem;
        color: white;
        margin: 0 auto;
        font-family: 'Poppins' ,serif;
        font-weight: 400 ;
    }

    .LoginButton{
        cursor: pointer;
        padding: 1rem;
        background-color: #495057;
        color: white;
        border-radius: 0.8rem;
        position: absolute;
        border: none;
        top: 2rem;
        right: 4rem;
        font-family: 'Poppins',serif;

    }
}
